<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veikals</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <a href="/" class="title">Veikals</a>
        {% if not user: %}
        <a href="/register">Pieslēgties</a>
        {% else %}
        <a href="/profile">Profils</a>
        {% endif %}
    </header>
    {% if not products: %}
    <h1>Pašlaik nav nevienas preces</h1>
    {% endif %}
    <div class="cards">
        {% for product in products %}
        <div class="card" onclick="location.href ='/product?id={{ product[3] }}'">
            <img src="{{ product[2] }}" alt="Preču attēls">
            <h6 id="name">{{ product[0] }}</h6>
            <h6 id="cost">{{ product[1] }} Eur</h6>
        </div>
        {% endfor %}
    </div>
</body>

</html>