<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veikals</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <a href="/" class="title">Veikals</a>
        {% if not user: %}
        <a href="/register">Pieslēgties</a>
        {% else %}
        <a href="/profile">Profils</a>
        {% endif %}
    </header>
    <div class="w80">
        <form action="profile" method="post">
            <div class="container">
                <input type="text" placeholder="Vārds" name="name" value="{{ user[1] }}">
                <input type="text" placeholder="Uzvārds" name="surname" value="{{ user[2] }}">
                <input type="email" placeholder="E-pasts" name="email" value="{{ user[5] }}">
                <input type="tel" placeholder="Tālruņa numurs" name="phone_number" value="{{ user[6] }}">
                <div class="split">
                    <input type="password" placeholder="Parole" name="password" id="password">
                    <input type="password" placeholder="Atkārtojiet paroli" id="confirmPassword">
                </div>
                <input type="submit" value="Saglabat" id="submit">
                <script src="/static/confirm-password.js"></script>
            </div>
        </form>
        <a href="/logout" class="link">Iziet</a><br>
        {% if user[7]: %}
        <a href="/admin" class="link">Pārdevēja skats</a>
        {% endif %}
    </div>
</body>

</html>